In [73]:
import pandas as pd

tabela = pd.read_csv("C:/Users/claud/Downloads/archive/all_indices_data.csv")
display(tabela)

,date,open,high,low,close,volume,ticker
0,1927-12-30,17.660000,17.660000,17.660000,17.660000,0.0,^GSPC
1,1928-01-03,17.760000,17.760000,17.760000,17.760000,0.0,^GSPC
2,1928-01-04,17.719999,17.719999,17.719999,17.719999,0.0,^GSPC
3,1928-01-05,17.549999,17.549999,17.549999,17.549999,0.0,^GSPC
4,1928-01-06,17.660000,17.660000,17.660000,17.660000,0.0,^GSPC
...,...,...,...,...,...,...,...
283905,2023-08-10,4050.120117,4174.439941,4040.540039,4147.879883,0.0,^JN0U.JO
283906,2023-08-11,4117.830078,4119.009766,4051.540039,4066.860107,0.0,^JN0U.JO
283907,2023-08-14,4042.120117,4061.399902,3945.500000,3979.110107,0.0,^JN0U.JO
283908,2023-08-15,3983.780029,3994.810059,3906.199951,3933.360107,0.0,^JN0U.JO
283909,2023-08-16,3944.840088,3944.840088,3867.570068,3911.010010,0.0,^JN0U.JO

In [74]:
tabela = tabela[tabela ["volume"] >10000]
display(tabela)

,date,open,high,low,close,volume,ticker
5496,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,^GSPC
5497,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,^GSPC
5498,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,^GSPC
5499,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,^GSPC
5500,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,^GSPC
...,...,...,...,...,...,...,...
282432,2023-08-10,1904.540039,1917.839966,1904.540039,1914.589966,48197000.0,^TA125.TA
282433,2023-08-13,1910.550049,1910.670044,1883.599976,1887.339966,18759200.0,^TA125.TA
282434,2023-08-14,1891.199951,1899.829956,1871.719971,1873.449951,57170100.0,^TA125.TA
282435,2023-08-15,1881.949951,1882.550049,1857.000000,1867.449951,57457200.0,^TA125.TA
282436,2023-08-16,1872.229980,1879.060059,1858.930054,1862.339966,38272300.0,^TA125.TA

In [75]:
tabela["resultado"] = tabela ["close"] - tabela["open"]
display(tabela)

,date,open,high,low,close,volume,ticker,resultado
5496,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,^GSPC,0.000000
5497,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,^GSPC,0.000000
5498,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,^GSPC,0.000000
5499,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,^GSPC,0.000000
5500,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,^GSPC,0.000000
...,...,...,...,...,...,...,...,...
282432,2023-08-10,1904.540039,1917.839966,1904.540039,1914.589966,48197000.0,^TA125.TA,10.049927
282433,2023-08-13,1910.550049,1910.670044,1883.599976,1887.339966,18759200.0,^TA125.TA,-23.210083
282434,2023-08-14,1891.199951,1899.829956,1871.719971,1873.449951,57170100.0,^TA125.TA,-17.750000
282435,2023-08-15,1881.949951,1882.550049,1857.000000,1867.449951,57457200.0,^TA125.TA,-14.500000
282436,2023-08-16,1872.229980,1879.060059,1858.930054,1862.339966,38272300.0,^TA125.TA,-9.890015

In [76]:
tabela = tabela[tabela["resultado"] > 0]
display(tabela)

,date,open,high,low,close,volume,ticker,resultado
8509,1962-01-02,0.000000,71.959999,70.709999,70.959999,3120000.0,^GSPC,70.959999
8510,1962-01-03,0.000000,71.480003,70.379997,71.129997,3590000.0,^GSPC,71.129997
8511,1962-01-04,0.000000,71.620003,70.449997,70.639999,4450000.0,^GSPC,70.639999
8512,1962-01-05,0.000000,70.839996,69.349998,69.660004,4630000.0,^GSPC,69.660004
8513,1962-01-08,0.000000,69.839996,68.169998,69.120003,4620000.0,^GSPC,69.120003
...,...,...,...,...,...,...,...,...
282425,2023-07-31,1883.780029,1890.280029,1876.609985,1886.630005,56097700.0,^TA125.TA,2.849976
282427,2023-08-02,1867.359985,1880.000000,1855.989990,1877.229980,62048800.0,^TA125.TA,9.869995
282429,2023-08-07,1883.410034,1898.280029,1883.410034,1891.859985,49049500.0,^TA125.TA,8.449951
282431,2023-08-09,1889.819946,1913.900024,1882.079956,1910.719971,65385300.0,^TA125.TA,20.900024
282432,2023-08-10,1904.540039,1917.839966,1904.540039,1914.589966,48197000.0,^TA125.TA,10.049927

In [77]:
tabela = tabela[tabela["open"] > 0]
display(tabela)

,date,open,high,low,close,volume,ticker,resultado
13603,1982-04-21,115.480003,115.870003,115.300003,115.720001,57820000.0,^GSPC,0.239998
13604,1982-04-22,115.720001,117.250000,115.720001,117.190002,64470000.0,^GSPC,1.470001
13605,1982-04-23,118.019997,118.639999,117.190002,118.639999,71840000.0,^GSPC,0.620003
13606,1982-04-26,118.940002,119.330002,118.250000,119.260002,60500000.0,^GSPC,0.320000
13610,1982-04-30,116.209999,116.779999,116.070000,116.440002,48200000.0,^GSPC,0.230003
...,...,...,...,...,...,...,...,...
282425,2023-07-31,1883.780029,1890.280029,1876.609985,1886.630005,56097700.0,^TA125.TA,2.849976
282427,2023-08-02,1867.359985,1880.000000,1855.989990,1877.229980,62048800.0,^TA125.TA,9.869995
282429,2023-08-07,1883.410034,1898.280029,1883.410034,1891.859985,49049500.0,^TA125.TA,8.449951
282431,2023-08-09,1889.819946,1913.900024,1882.079956,1910.719971,65385300.0,^TA125.TA,20.900024
282432,2023-08-10,1904.540039,1917.839966,1904.540039,1914.589966,48197000.0,^TA125.TA,10.049927

In [78]:
tabela = tabela.sort_values(by=["ticker","resultado"], ascending=[True,False])
display(tabela)

,date,open,high,low,close,volume,ticker,resultado
163747,2015-07-09,3432.454102,3748.479004,3373.540039,3709.330078,656900.0,000001.SS,276.875977
163740,2015-06-30,4006.753906,4279.969238,3847.879883,4277.222168,709200.0,000001.SS,270.468262
161945,2008-02-04,4415.022949,4672.213867,4415.022949,4672.169922,63400.0,000001.SS,257.146973
161778,2007-06-05,3564.433105,3768.562988,3404.145996,3767.101074,157200.0,000001.SS,202.667969
161979,2008-03-28,3378.627930,3590.752930,3357.229004,3580.145996,63200.0,000001.SS,201.518066
...,...,...,...,...,...,...,...,...
60262,1998-01-26,661.630005,664.250000,660.159973,661.669983,257600.0,^XAX,0.039978
61352,2002-05-29,958.729980,959.770020,955.479980,958.760010,552500.0,^XAX,0.030029
61544,2003-03-04,829.710022,835.710022,828.960022,829.739990,403700.0,^XAX,0.029968
60364,1998-06-22,693.969971,695.340027,693.080017,693.989990,216400.0,^XAX,0.020020
60297,1998-03-17,718.140015,719.979980,716.950012,718.159973,270800.0,^XAX,0.019958

In [79]:
tabela = tabela.groupby('ticker')['resultado'].max()
display(tabela)

ticker
000001.SS      276.875977
399001.SZ     1063.307386
^AORD          319.899902
^AXJO          339.000000
^BFX           199.239990
^BSESN        2889.349609
^BVSP        10057.000000
^DJI          1282.890625
^FCHI          297.750000
^FTSE          452.100098
^GDAXI         632.870117
^GSPC          149.539795
^GSPTSE        661.399414
^HSI          1513.589844
^IXIC          885.709961
^JKSE          401.271729
^KLSE           82.739990
^KS11          112.069824
^MERV           41.500000
^MXX          2090.861328
^N100           52.320007
^N225         1099.830078
^NYA           696.830078
^NZ50          610.450195
^RUT            77.629883
^STI           168.300049
^STOXX50E      217.530029
^TA125.TA       66.950073
^TWII          581.020508
^XAX           171.780029
Name: resultado, dtype: float64

In [80]:
tabela = tabela.sort_values(ascending=False)
display(tabela)

ticker
^BVSP        10057.000000
^BSESN        2889.349609
^MXX          2090.861328
^HSI          1513.589844
^DJI          1282.890625
^N225         1099.830078
399001.SZ     1063.307386
^IXIC          885.709961
^NYA           696.830078
^GSPTSE        661.399414
^GDAXI         632.870117
^NZ50          610.450195
^TWII          581.020508
^FTSE          452.100098
^JKSE          401.271729
^AXJO          339.000000
^AORD          319.899902
^FCHI          297.750000
000001.SS      276.875977
^STOXX50E      217.530029
^BFX           199.239990
^XAX           171.780029
^STI           168.300049
^GSPC          149.539795
^KS11          112.069824
^KLSE           82.739990
^RUT            77.629883
^TA125.TA       66.950073
^N100           52.320007
^MERV           41.500000
Name: resultado, dtype: float64